.resultPage {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  background-color: white;
  padding: 20px 40px;
  border-bottom: 1px solid #ddd;
  display: flex;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}

.logo {
  font-size: 36px;
  font-weight: bold;
  color: #007bff;
}

.titleContainer {
  font-size: 2.5rem;
  color: #304357;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-top: 10px;
}

.resultsTable {
  width: 90%;
  margin: 20px auto;
  border-collapse: collapse;
  text-align: left;
  font-size: 18px;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.resultsTable th, .resultsTable td {
  padding: 16px 20px;
  border: 1px solid #ddd;
}

.resultsTable th {
  background-color: #f4f4f4;
}

.resultsTable tr:nth-child(even) {
  background-color: #f9f9f9;
}

.resultsTable td {
  text-align: center;
}

.inputButton {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 12px 24px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 18px;
  text-align: center;
  transition: background-color 0.3s ease;
  display: inline-block;
  max-width: 250px;
  width: 100%;
}

.inputButton:hover {
  background-color: #0056b3;
}

.pendingLabel {
  color: #999;
  font-style: italic;
}

.buttonContainer {
  text-align: center;
  margin-bottom: 20px;
}

.content {
  flex-grow: 1;
}
