.dashboard {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    color: #333;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 20px 40px;
    border-bottom: 1px solid #ddd;
  }

.logo {
    font-size: 36px;
    font-weight: bold;
    color: #007bff;
    text-align: left;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
  }

.navbar a {
    margin: 0 15px;
    color: #007bff;
    text-decoration: none;
    font-size: 16px;
}

.navbar a:hover {
    text-decoration: underline;
}

.navbar .menuItem {
    margin: 0 20px;
    font-size: 18px;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 5px;
  }

.navbar .menuItem:hover {
    background-color: #a8f3f9;
    color: black;
}

.menuItem {
    margin: 0 15px;
    cursor: pointer;
    font-size: 16px;
}

.dropbtn {
    background-color: #ccc;
    color: black;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdownMenu {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 200px;
    padding: 10px 0;
    box-shadow: 0px 8px 16px rgba(139, 120, 120, 0.2);
    z-index: 1;
    border-radius: 5px;
}

.dropdownMenu div {
    padding: 10px 20px;
    cursor: pointer;
}
  
.dropdownMenu div:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdownMenu {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #edeeed;
}

.accountSection {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: auto;
}

.accountButton {
    background-color: #51a2f8;
    color: #fff;
    padding: 8px 12px;
    border-radius: 4px;
    text-decoration: none;
    cursor: pointer;
    margin-right: 20px;
}

.accountButton:hover {
    background-color: #0056b3;
}

.logoutButton {
    background-color: #f03043;
    color: white;
    padding: 8px 12px;
    border-radius: 4px;
    text-decoration: none;
    cursor: pointer;
}

.logoutButton:hover {
    background-color: #c82333;
}

.mainContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background: linear-gradient(to bottom, #a8f3f9, white);
    min-height: 100vh;
    padding: 40px;
    text-align: center;
}

.mainContent h1 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #304357;
    margin-top: 80px;
}

.welcome {
    margin-top: 20px;
}

.account-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: absolute;
    top: 20px;
}

.accountInfo p {
    font-size: 1.5rem;
    font-weight: bold;
    color: #304357;
    margin-top: 20px;
  }

.account-section .welcome {
    font-size: 16px;
}

.account-section .accountButton {
    margin-left: 20px;
    background-color: #007bff;
    color: white;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
}

.account-section .accountButton:hover {
    background-color: #0056b3;
}

